shell-emulator=true
auto-install-peers=true
enable-pre-post-scripts=true
strict-peer-dependencies=false
node-options='--disable-warning=ExperimentalWarning --disable-warning=DeprecationWarning'
@jsr:registry=https://npm.jsr.io